<template name="cashiers">
    <h3>Selgere</h3>
    {{#if addCashier}}
        {{>addCashier}}
    {{else}}
        <a id="addC" class="btn">Legg til selger</a>
    {{/if}}
    <div>
        <table class="table table-hover">
            <thead>
                <th>Navn</th>
                <th>Strekkode</th>
                <th>Brukernavn</th>
                <th></th>
            </thead>
            <tbody>
                {{#each cashiers}}
                    {{#if isEdited _id}}
                        {{>editCashier}}
                    {{else}}
                        {{>displayCashier}}
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>



<template name="addCashier">
    <form class="form-inline">
        <input id="cName" name="cName" type="text" class="form-control span3" placeholder="Navn..." autofocus="autofocus" />
        <input id="barcode" name="barcode" type="text" class="form-control span3" placeholder="Strekkode..." />
        <input id="email" name="email" type="email" class="form-control span3" placeholder="Email..." />
        <input id="username" name="username" type="text" class="form-control span3" placeholder="Brukernavn..." />
        <input id="password" name="password" type="password" class="form-control span3" placeholder="Passord..." />
        <button class="btn btn-default" type="submit">Lagre</button>
        <button id="cancelAddCashier" class="btn btn-default" type="button">Avbryt</button>
    </form>
</template>

<!-- Normal table row -->
<template name="displayCashier">
    <tr id="{{_id}}">
        <td>{{profile.name}}</td>
        <td>{{profile.barcode}}</td>
        <td>{{username}}</td>
        <td><a id="{{_id}}" class="btn btn-default delete">Slett</a></td>
    </tr>
</template>

<!-- Table row in edit mode -->
<template name="editCashier">
    <tr id="{{_id}}">
        <td><input id="muay" name="profile.name" type="text" value="{{profile.name}}" class="span3" autofocus="autofocus" /></td>
        <td><input name="profile.barcode" type="text" value="{{profile.barcode}}" class="span3" /></td>
        <td><input name="username" type="text" value="{{username}}" class="span3" /></td>
        <td></td>
    </tr>
</template>