<template name="login">
    Scan for å logge inn...
    <br /><br />
    {{#if oldSchoolLogin}}
        {{>oldSchoolLogin}}
    {{else}}
        Eller benytt brukernavn og passord for å logge inn.
        <a id="logInBtn" class="btn btn-default">Logg inn</a>
    {{/if}}
</template>





<template name="oldSchoolLogin">
    <form class="form-inline">
        <input id="username" name="username" type="text" placeholder="Brukernavn..." autofocus="autofocus" />
        <input id="password" name="password" type="password" placeholder="Passord" />
        <button type="submit">Logg inn</button>
    </form>
</template>