<template name="products">
    <h2>Vareliste</h2>
    <div id="products">
        <a class="btn btn-default add">Legg til produkt</a>
        
        {{#if addProduct}}
            {{>addProduct}}
            {{/if}}

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td> Navn</td>
                    <td> Strekkode</td>
                    <td> Pris</td>
                    <td></td>
                </tr>
            </thead>
            
            {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>{{strekkode}}</td>
                <td>{{pris}}</td>
                <td><a class="btn btn-default">Legg til</a></td>
            </tr>
            {{/each}}
        </table>
    </div>

</template>

<template name="addProduct">
    <div id="newProduct">
        <input id="name" type="text" placeholder="Navn..">
        </input>
        <input id="barcode" type="text" placeholder="Strekkode..">
        </input>
        <input id="price" type="text" placeholder="Pris..">
        </input>

        <input id="purchasePrice" type="text" placeholder="Innkjøpspris..">
        </input>
        <input id="inStock" type="text" placeholder="Antall på lager..">
        </input>

        <input id="quantity" type="text" placeholder="Antall totalt..">
        </input>
        <a class="btn btn-default newProduct">Legg til</a>
</template>